
/*********************************************************
|
|  Global styles
|
**********************************************************/

body {
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
  color: #777;
  font-weight: 300;
	background: #f9f9fa;
}
.btn-primary,
form.comment-form input#submit {
  background: linear-gradient(to bottom, #83cbb4, #55b8b8);
  border-color: #55b7b8;
  color: white !important;
}
.btn-primary:hover,
form.comment-form input#submit {
  background: #83cbb4;
  border-color: #55b7b8;
}
form.comment-form input#submit {
  border: 1px solid #55b7b8;
  border-radius: 4px;
  font-weight: normal;
}
.btn-default {
  background-color: white;
  border-color: #55b7b8;
  color: #55b7b8;
}
.btn-default:hover,
.btn-default:focus {
	background-color: #55b7b8;
	border-color: #55b7b8;
	color:white;
}
.btn-transparent {
  background: none;
  border-color: white;
}
.label-btn {
  font-size: 13px;
	line-height: 1.42857143;
  font-weight: normal;
  border-radius: 45px;
  margin-right: 10px;
	padding: 5px 15px 7px;
}
.btn-upvote {
  margin-right: 8px;
}
.btn-upvote:hover {
	cursor: pointer;
	opacity: 0.85;
}
.btn-upvote .fa {
  
}
h1 {
  font-family: 'Montserrat', sans-serif;
  color: #2a404d;
  font-weight: bold;
  font-size: 40px;
}
h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  color: #333;
}
a, a:visited {
  color: #55b7b8;
}
.form-horizontal .control-label {
	text-align: left;
}
form.upvote {
	display: inline-block;
}
.form-group {
  margin-bottom: 30px;
}
.form-control,
input[type=text],
input[type=password] {
  border: 2px solid #55b7b8;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #F8F8F8;
  letter-spacing: 2px;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  background-image: none;
}
form.comment-form textarea {
  border-color: #ccc;
}
.thumbnail .caption {
  color: #777;
}
.label-danger {
  background-color: rgba(227, 30, 70, 0.7);
}
.label-pink {
  background-color: rgba(203, 75, 252, 0.7);
}
span.wpcf7-not-valid-tip {
  color: #c9302c;
  font-size: 14px;
}
div.wpcf7-validation-errors {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
div.wpcf7-mail-sent-ok {
  border: 1px solid #395561;
  background: #395561;
  color: white;
  border-radius: 4px;
}
div.wpcf7-mail-sent-ng {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #ebccd1;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
}
ul.collapsible {
  margin-bottom: 40px;
}
ul.collapsible ul {
  display: none;
  padding-left: 20px;
  margin-bottom: 0;
}
ul.collapsible a:hover {
  text-decoration: none;
}
ul.collapsible ul a:hover {
  color: #55b7b8;
}
ul.collapsible a {
  color: #777;
  padding: 5px 15px;
  display: inline-block;
}
ul.collapsible > li:hover > a,
ul.collapsible .active-parent > a,
ul.collapsible > .active > a {
  background: #e4e4e4;
  border-radius: 50px;
}
ul.collapsible .active-parent ul,
ul.collapsible li:hover ul {
  display: block;
}
ul.collapsible ul .active a {
  color: #55b7b8;
}
ul.collapsible .fa {
  font-size: 12px;
  margin-left: 5px;
}
ul.collapsible .fa.down {
  display: none;
}
ul.collapsible li:hover .fa.down,
ul.collapsible .active-parent .fa.down {
  display: inline-block;
}
ul.collapsible li:hover .fa.right,
ul.collapsible .active-parent .fa.right {
  display: none;
}
.text-two-lines {
  overflow: hidden;
  position: relative;
  line-height: 1.6em;
  max-height: 3.2em;
  margin-right: -1em;
  padding-right: 1em;
}
.text-two-lines:before {
  position: absolute;
  right: 0;
  bottom: 0;
}
.text-two-lines:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}
.text-danger {
  color: #f05376;
}
.text-primary {
  color: #44bae2;
}
.text-info {
  color: #d354fc;
}
.text-success {
  color: #55b7b8;
}
.text-white {
  color: white;
}


@media (min-width: 992px) {
  h1 {
    font-size: 50px;
  }
}


/*********************************************************
|
|  Header
|
**********************************************************/

.navbar {
  border: none;
  box-shadow: 0 0 transparent,0px 0px 4px 0px #777, 0 0 transparent, 0 0 transparent;
  margin-bottom: 0;
  padding: 10px 0;
}
.navbar-default {
  background-color: white;
}
.navbar-header {
  z-index: 1;
}
.navbar-brand.logged-in {
  height: 50px;
  padding: 0;
}
.navbar-brand.logged-in img {
  height: 100%;
}
.navbar-center {
  position: absolute;
  left: 40%;
  top: 20px;  
  margin: auto;
  height: 100%;
  display: inline-block;
}
.navbar-collapse {
  text-align: center;
}
li .navbar-btn {
  margin-left: 15px;
}
.btn,
form.comment-form input#submit {
  padding: 6px 30px;
}
.navbar-nav>li>a {
  margin-left: 15px;
  margin-right: 15px;
}
.navbar-default .navbar-nav>li>a.avatar {
  margin-top: 9px;
  margin-bottom: 8px;
  padding: 0;
}
.navbar-default .navbar-nav>li>a.avatar>img {
  max-height: 33px;
  border-radius: 5px;
}
.navbar-nav>li>a.btn {
  padding: 6px 30px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar-nav>li>a>.fa {
  font-size: 20px;
}
.navbar-default .navbar-nav>li>a.btn-primary {
  color: white;
}
.navbar-default .navbar-nav>li>a.btn:focus, 
.navbar-default .navbar-nav>li>a.btn:hover,
.btn-primary:hover, 
.btn-primary:focus {
  background-color: #55b7b8;
  border-color: #55b7b8;
}

/*********************************************************
|
|  Footer
|
**********************************************************/

footer#footer {
  margin-top: 75px;
}
body.page-template-template-about footer#footer,
body.page-template-template-how_it_works footer#footer {
  margin-top: 0;
}
footer#footer h4 {
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 25px;
}
footer#footer img {
  margin-top: 50px;
}
footer#footer .links {
  background: #395561;
  padding: 75px 0;
  margin: 0;
}
footer#footer .links a {
  letter-spacing: 2px;
}
footer#footer .links a:hover {
  color: white;
  text-decoration: none;
}
footer#footer .links li {
  margin-bottom: 10px;
}
footer#footer .copyright {
  background: #1b2d37;
  padding: 25px 0;
  color: #648391;
  font-size: 12px;
}

/*********************************************************
|
|  front-page.php
|
**********************************************************/

#front-page section {
  padding: 100px 0;
  font-size: 16px;
}
#front-page section#splash {
  font-size: 18px;
  color: white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5bbbb9+0,84cdba+100 */
  background-image: url('../images/dotted-map.png'), linear-gradient(to right,  #5bbbb9 0%,#84cdba 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#front-page section#splash h1 {
  margin-bottom: 40px;
}
#front-page section#splash p {
  margin-bottom: 40px;
}
#front-page section#splash .btn {
  margin-bottom: 20px;
}
#front-page section#brands {
  background: #f5f5f5;
  color: #c1c1c1;
  padding: 40px 0;
}
#front-page section#brands p {
  margin-bottom: 30px;
  letter-spacing: 4px;
}
#front-page section#brands img {
  margin-right: 10px;
  margin-bottom: 15px;
}
#front-page section#brands img:last-child {
  margin-right: 0;
}
#front-page section#how h2 {
  margin-bottom: 25px;
}
#front-page section#how h4 {
  margin: 35px 0 25px 0;
}
#front-page section#how p.lead {
  margin-bottom: 50px;
  font-size: 16px;
}
#front-page section#how p {
  margin-bottom: 30px;
}
#front-page section#quote {
  padding: 200px 0;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-image: url('../images/quote-bg.jpg');
  background-size: cover;
  background-position: center center;
}
#front-page section#story h2 {
  margin-bottom: 75px;
  text-align: center;
}
#front-page section#story blockquote {
  padding: 20px 0;
  margin: 20px 0;
  font-size: 20px;
  border: 2px solid #ccc;
  border-left: none;
  border-right: none;
  color: #333;
}
#front-page section#story img {
  border-radius: 5px;
}
#front-page section#video h2,
section.page-video h2 {
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}
#front-page section#video h3,
section.page-video h3{
  color: white;
}
#front-page section#video,
section.page-video {
  padding: 150px 0;
  background-image: url('../images/video-bg.jpg');
  background-size: cover;
}
#videoModal iframe {
  width: 100%;
  height: auto;
}
#front-page section#contact form {
  margin-top: 75px;
}

@media (min-width: 992px) {
  #front-page section#splash {
    padding: 150px 0;
  }
  #front-page section#brands img {
    margin-right: 50px;
  }
  #front-page section#video h2,
  section.page-video h2 {
    font-size: 50px;
  }
  #front-page .modal-body,
  .page-video .modal-body {
    padding: 0;
  }
  #front-page .modal-dialog,
  .page-video .modal-dialog {
    width: 800px;
  }
  #videoModal iframe {
    height: 450px;
    display: block;
  }
}

/*********************************************************
|
|  archive-mgl_product.php
|
**********************************************************/

body.post-type-archive-mgl_product {
  background: #f9f9fa;
}
.templates#content-archive h2 {
  margin: 0;
}
.templates#content-archive .sort {
  margin-bottom: 30px;
  line-height: 33px;
}
#archive-mgl_product section#splash {
  font-size: 18px;
  color: white;
  padding: 50px 0;
  margin-bottom: 50px;
  background-color: linear-gradient(to right,  #5bbbb9 0%,#84cdba 100%);
  background-size: cover;
  background-position: center center;
  background-image: url('../images/hero-feed.png');
}
.templates#content-archive .main h1 {
  font-size: 30px;
  margin-top: 0;
}
.templates#content-archive h1 small {
  font-size: 16px;
  line-height: 33px;
}
.templates#content-archive .left h4 {
  padding-bottom: 25px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
}
.templates#content-archive .affix {
  top: 100px;
}
.templates#content-archive .affix .well {
  max-width: 165px;
}
.templates#content-archive .right .well {
  padding: 14px;
  background: white;
  font-size: 13px;
}
.templates#content-archive .right h4 {
  margin-bottom: 15px;
  font-size: 15px;
}
.templates#content-archive ul.the_champ_login_ul li {
  display: block;
  width: 100% !important;
  margin-left: 0 !important;
}
.templates#content-archive .theChampLogin {
  margin: 5px 0;
}
.templates#content-archive ul.the_champ_login_ul li ss:before {
  font-size: 14px;
  margin-left: 45px;
}
.templates#content-archive ul.the_champ_login_ul li ss.theChampFacebookLoginSvg:before {
  content: 'Login';
}
.templates#content-archive ul.the_champ_login_ul li ss.theChampTwitterLoginSvg:before {
  content: 'Login';
}
.grid .product-card {
  padding-left: 8px;
  padding-right: 8px;
}
.product-card {
  margin-bottom: 1px;
}
.product-card .title {
  font-size: 16px;
}
.product-card .thumbnail {
  padding: 0;
  border: 1px solid #e4e4e4;
}
.product-card .thumbnail .caption {
  padding: 15px;
}
.product-card .thumbnail .caption .desc {
  margin-bottom: 15px;
}
.product-card .thumbnail .author {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #e4e4e4;
  font-size: 13px;
}
.product-card .thumbnail .author img {
  border-radius: 5px;
  max-width: 50px;
  max-height: 33px;
}
.product-card .thumbnail .author h4 {
  margin: 0;
  font-size: 13px;
}
.product-card .product-thumb {
}
#archive-mgl_product .label:first-child {
  margin-right: 0;
}
@media (min-width: 992px) {
  #archive-mgl_product section#splash {
    padding: 100px 0;
    margin-bottom: 100px;
  }
}

/*********************************************************
|
|  template-about.php
|
**********************************************************/

body.page-template-template-about-php main.main {
  margin-bottom: 0;
}
#template-about section {
  padding: 100px 0;
  font-size: 16px;
  color: #888;
}
section.page-splash {
  font-size: 18px;
  padding: 75px 0;
  margin-bottom: 75px;
  color: white;
  background-image: url('../images/quote-bg.jpg');
  background-size: cover;
  background-position: center center;
}
section.page-splash h1,
section.page-splash h2 {
  font-size: 28px;
  font-weight:700;
  color: white;
  margin-bottom: 20px;
}
#template-about section#about h2 {
  font-size: 28.8px;
	line-height: 1.4;
	text-align: center;
	color: #333333;
  margin-bottom: 29px;
}
#template-about section#about h3 {
  font-weight:700;
  font-size: 16px;
	line-height: 1.1;
	color: #333333;
  margin-bottom: 13px;
}
#template-about section#about p {
	font-size: 15px;
	line-height: 1.8;
	color: #777777;
	margin-bottom:30px;
}
#template-about section#about img {
	border-radius:5px;
	margin:46px auto;
}
#template-about section#about img.logo {
	max-height: 36px;
	width: auto;
  display: inline-block;
  margin: 20px 20px 20px 0;
}
#template-about section#team {
  background: #f9f9fb;
}
#template-about section#team p {
	font-size: 15px;
	line-height: 1.8;
	color: #777777;
	margin-bottom:30px;
}
#template-about section#team .team {
	margin-bottom:43px;
}
#template-about section#team .team img {
  border-radius:5px;
  width: 230px;
  margin:0 auto;
}
#template-about section#team .team h4 {
  margin-top: 25px;
  letter-spacing: 2px;
}
#template-about section#team .team p {
	margin-bottom:0;
}
@media (min-width: 992px) {
  #template-about section#splash {
    padding: 120px 0;
  }
}

/*********************************************************
|
|  index.php
|
**********************************************************/

#blog section#splash {
  padding: 50px 0;
  background-image: url('../images/blog-splash.jpg');
  background-size: cover;
  background-position: center center;
}
#blog article {
  padding-top: 35px;
  border-top: 1px solid #9b9b9b;
  margin-bottom: 55px;
}
#blog article:first-child {
  padding-top: 0;
  border-top: none;
}
@media (min-width: 992px) {
  #blog section#splash {
    padding: 100px 0;
    margin-bottom: 50px;
  }
}

/*********************************************************
|
|  blog posts
|
**********************************************************/

article.post header {
  margin-bottom: 15px;
}
article.post header h2 a {
  color: #333;
}
article.post header .byline {
  font-size: 13px;
}
article.post header .avatar img {
  border-radius: 8px;
}
article.post header .byline a {
  color: #777;
}
article.post header a.nickname {
  margin: 0 15px;
}
article.post header time {
  margin: 0 15px;
}
article.post header .comment-count {
  margin-left: 15px;
}
article.post .entry-thumb {
  margin-bottom: 25px;
  border-radius: 8px;
}
@media (min-width: 992px) {
  article.post header h2 {
    font-size: 29px;
    margin-bottom: 25px;
  }
}

/*********************************************************
|
|  single.php
|
**********************************************************/

#blog-single section#splash {
  font-size: 18px;
  padding: 50px 0;
  margin-bottom: 50px;
  color: white;
  background-image: url('../images/single-hero.jpg');
  background-size: cover;
  background-position: center center;
}
#blog-single section#splash h1 {
  color: white;
}
@media (min-width: 992px) {
  #blog-single section#splash {
    padding: 100px 0;
    margin-bottom: 75px;
  }
}

/*********************************************************
|
|  template-signin.php && template-login.php
|
**********************************************************/

ul.the_champ_login_ul li {
  display: block;
  width: 45% !important;
  margin-left: 3% !important;
}
ul.the_champ_login_ul li:first-child {
  margin-left: 0 !important;
}
ul.the_champ_login_ul li i {
  width: 100% !important;
}
ul.the_champ_login_ul li ss {
  padding-left: 5px;
}
ul.the_champ_login_ul li ss:before {
  color: white;
  font-style: normal;
  font-size: 15px;
  line-height: 35px;
  margin-left: 35px;
}
ul.the_champ_login_ul li ss.theChampFacebookLoginSvg:before {
  content: 'Login Using Facebook';
}
ul.the_champ_login_ul li ss.theChampTwitterLoginSvg:before {
  content: 'Login Using Twitter';
}
#wp-submit {
  display: inline-block;
  padding: 6px 30px;
  color: white;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #55b7b8;
  border-color: #55b7b8;
}
.login-username label,
.login-password label {
  display: none;
}
#loginform label {
  font-weight: normal;
  font-size: 14px;
}
#loginform p {
  margin-bottom: 20px;
}
#template-signup section#signup,
#template-login section#signup {
	margin-top: 70px;
}
#template-signup section#signup h2,
#template-login section#signup h2 {
	font-weight: 700;
	margin-bottom: 21px;
}
#template-signup section#signup p,
#template-login section#signup p {
  font-size: 18px;
  ine-height: 1.6;
}
#template-signup section#signup p.small,
#template-login section#signup p.small,
#template-signup section#signup p.small a,
#template-login section#signup p.small a {
  font-size: 15px;
  color: #9b9b9b;
}
#template-signup section#signup p.small a:hover,
#template-login section#signup p.small a:hover,
#template-signup section#signup p.small a:focus,
#template-login section#signup p.small a:focus {
	color: #337ab7;
}

#template-signup section#signup form,
#template-login section#signup form {
  margin-top: 55px;
}
#template-login section#signup .form-control,
#template-signup section#signup .form-control  {
	background-color: #fff;
}
#template-login section#signup textarea,
#template-login section#signup input,
#template-signup section#signup textarea,
#template-signup section#signup input {
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	font-size: 13px;
	line-height: 1.4;
	letter-spacing: 4px;
	color: #777777;
}
#template-signup section#signup input[type="submit"],
#template-login section#signup input[type="submit"] {
	font-weight:400;
	font-size: 15px;
	color: #ffffff;
	letter-spacing: 0;
}
#social-login .divider-new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-weight: 300;
  margin-top: 45px;
  margin-bottom: 45px;
  padding: 0 15px;
}
#social-login .divider-new::before{
	flex:1;
	margin:0 .45em 0 0
}
#social-login .divider-new::after{
	flex:1;
	margin:0 0 0 .45em
}
#social-login .divider-new::after, .divider-new::before {
  content: '';
  height: 1.5px;
  background: #9b9b9b;
}
#social-login .o-r {
	width: 35px;
	height: 34px;
	font-family: OpenSans;
	font-size: 25px !important;
	color: #9b9b9b;
}
#social-login .rectangle {
  padding: 8px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-bottom:15px;
}
#social-login .social-icon {
  color:#fff !important;
  width: 100%;
}
#social-login .fa {
  font-size: 20px;
}
#social-login .tw-bg {
  background-color: #55ACEE;
}
#social-login .fb-bg {
  background-color: #3B5998;
}
#social-login .fa-twitter {
  border-right:1px solid #1a8ac1;
  padding-right:10px;
  margin-right:15px;
}
#social-login .fa-facebook {
  border-right:1px solid #274072;
  padding-right:10px;
  margin-right:15px;
}
body.page-template-template-login main.main {
  min-height: 90vh;
}
#template-login img {
  display: inline-block;
  margin-bottom: 60px;
  box-shadow: 0 11px 27px 0 rgba(119, 119, 119, 0.5);
  border-radius: 100%;
}

@media (min-width: 992px) {
	#template-signup section#signup,
  #template-login section#signup {
    margin-top:140px;
  }
}

/*********************************************************
|
|  template-product_post.php
|
**********************************************************/
#template-product_post section#product_post .main {
	margin-top: 75px;
	padding-bottom: 50px;
}
#template-product_post section#product_post h1 { 
	margin-bottom: 35px;
}
#template-product_post section#product_post h2 { 
	margin-top: 50px;
	margin-bottom: 17px;
}
#template-product_post section#product_post h4 { 
	font-weight:700;
	font-size:16px;
}
#template-product_post section#product_post h5 { 
	font-weight:400;
	font-size:16px;
	margin-top:55px;
	margin-bottom: 34px;
}
#template-product_post section#product_post p a {
	text-decoration:underline;
}
#template-product_post section#product_post hr {
    margin-top: 160px;
    margin-bottom: 80px;
    border: 0;
    border-top: 2px solid #d8d8d8;
}
#template-product_post section#product_post p.grey-text {
	font-size: 16px;
	line-height: 0.9;
	color: #4a4a4a;
	margin-bottom:30px;
}
#template-product_post section#product_post textarea,
#template-product_post section#product_post input,
#template-product_post section#product_post select {
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	font-size: 13px;
	line-height: 1.4;
	letter-spacing: 4px;
	color: #999999;
}
#template-product_post #product-form-wrap.well {
  margin-top: -136px;
  background: white;
}
#template-product_post #product-form-wrap #progress-wrap {
  border-bottom: 1px solid #e3e3e3;  
  padding-bottom: 4px;
}
#template-product_post #product-form-wrap #progress-wrap .progress {
  height: 11px;
  margin-top: 4px;
}
#template-product_post #product-form-wrap #progress-wrap .progress-bar {
  background-color: #55b8b8;
  width: 25%;
}
#template-product_post #product-form-wrap .category-list {
  margin: 50px 0;
}
#template-product_post #product-form-wrap .category-list .category {
  height: 155px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4.1px;
  box-shadow: 0 2px 5px 0 rgba(158, 158, 158, 0.4);
  font-weight: 300;
  font-size: 16px;
  color: #4a4a4a;
  display: flex;
  align-items: center;
  justify-content: center;
}
#template-product_post #product-form-wrap .category-list .category:hover {
  cursor: pointer;
}
#template-product_post #product-form-wrap .category-list input {
  position: absolute;
  left: -99999999999px;
}
#template-product_post #product-form-wrap .category-list input:checked+label {
  background-color: #55b8b8;
  color: white;
}
#template-product_post #product-form-wrap #details label {
  font-weight: 300;
  font-size: 16px;
}
#template-product_post #product-form-wrap #details .form-group {
  margin-top: 50px;
}

@media screen and (min-width: 768px){
  #template-product_post #product-form-wrap .category-list .sub-category {
    display: inline-block;
    float: none;
  }
}

/*********************************************************
|
|  template-profile_following.php
|
**********************************************************/
#template-profile_following section#hero {
	background-color: #233743;
}
#template-profile_following section#hero a.btn.btn-follow {
	border: 1px solid #fff;
	color:#fff;
	font-size:15px;
	padding: 10px 26px;
}
#template-profile_following section#hero a.btn.btn-follow:hover,
#template-profile_following section#hero a.btn.btn-follow:focus {
	border: 1px solid #55b8b8;
	color:#55b8b8;
}
#template-profile_following section#hero .btn.float-right {
	position: absolute;
  right: 15px;
}
/* Mobile user*/
@media screen and (max-width: 580px){
    #template-profile_following section#hero .btn.float-right {
    display:none;
    }
}
#template-profile_following section#hero .profile-thumb {
	padding:105px 32px 26px 32px;
}
#template-profile_following section#hero .profile-thumb img {
	max-width: 188px;
	box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.3);
	border-radius: 6px;
}
#template-profile_following section#hero .profile-thumb img.img-responsive {
	display: inline-block;
}
#template-profile_following section#hero .white-text {
	color:#ffffff;
}
#template-profile_following section#hero .profile-fullname {
	font-size:16px;
	padding-bottom:10px;
}
#template-profile_following section#hero .profile-title {
	font-size:16px;
	padding-bottom:20px;
}
#template-profile_following section#hero .profile-social {
	font-size:15px;
	padding-bottom:26px;
}
#template-profile_following section#hero .profile-social a {
	color:#fff;
}
#template-profile_following section#hero .profile-social a:hover,
#template-profile_following section#hero .profile-social a:focus {
	color: #55b7b8;
}
#template-profile_following section#hero .profile-btn {
	padding-bottom:78px;
}
#template-profile_following section#hero .btn.btn-profile {
	border-radius: 45px;
	padding: 6px 20px;
}
#template-profile_following section#hero a.btn.btn-profile {
	font-size:13px;
	color:#fff;
	margin:5px;
}
#template-profile_following section#hero a.btn.btn-profile:hover,
#template-profile_following section#hero a.btn.btn-profile:focus {
	opacity:0.8;
}
#template-profile_following section#hero .btn.btn-profile.upvotes {
	background-color: #999;
}
#template-profile_following section#hero .btn.btn-profile.upvotes.active {
  background-color: rgba(227, 30, 70, 0.8);
}
#template-profile_following section#hero .btn.btn-profile.submitted {
	background-color: #46b3df;
}
#template-profile_following section#hero .btn.btn-profile.following {
	background-color: #cc4dfc;
}
#template-profile_following section#hero .btn.btn-profile.followers {
	background-color: #e9df67;
}

#template-profile_following section#profile_following {
	margin-top:80px;
}
#template-profile_following section#profile_following .card-item {
	border-radius: 5px;
	background-color: #ffffff;
	border: solid 1px #e4e4e4;
	padding:10px;
	margin-bottom:20px;
}
#template-profile_following section#profile_following .profile-thumb {
	padding-bottom:25px;
}
#template-profile_following section#profile_following .profile-thumb img {
  border-radius: 6px;
}
#template-profile_following section#profile_following .profile-thumb img.img-responsive {
	display: inline-block;
}
#template-profile_following section#profile_following .profile-fullname {
	font-size: 16px;
	line-height: 1.1;
	letter-spacing: 4.9px;
	color: #333333;
	padding-bottom:10px;
}
#template-profile_following section#profile_following .profile-title {
	font-size: 15px;
	line-height: 1.7;
	color: #777777;
	padding-bottom:5px;
}
#template-profile_following section#profile_following .profile-username {
	font-size: 15px;
	line-height: 1.7;
	color: #55b8b8;
	padding-bottom:17px;
}
#template-profile_following section#profile_following .btn.btn-follow {
	border:1px solid #55b8b8;
	background-color:#55b8b8;
	color:#ffffff;
	padding: 8px 20px;
	width: 100%;
}
#template-profile_following section#profile_following .btn.btn-follow:hover,
#template-profile_following section#profile_following .btn.btn-follow:focus {
	background-color:#fff;
	color:#55b8b8;
}
#template-profile_following section#profile_following .btn.btn-following {
	border:1px solid #55b8b8;
	color:#55b8b8;
	padding: 8px 20px;
	width: 100%;
}
#template-profile_following section#profile_following .btn.btn-following:hover,
#template-profile_following section#profile_following .btn.btn-following:focus {
	color:#fff;
	background-color:#55b8b8;
}
#template-profile_following section#profile_following .showmore {
	padding-top:65px;
}
#template-profile_following section#profile_following .btn.btn-showmore {
	border:1px solid #9b9b9b;
	font-size: 13px;
	line-height: 1.4;
	color: #777777;
	padding: 6px 20px;
	border-radius:45px;
}
#template-profile_following section#profile_following .btn.btn-showmore:hover,
#template-profile_following section#profile_following .btn.btn-showmore:focus {
	color:#fff;
	background-color:#9b9b9b;
}

/*********************************************************
|
|  template-profile_product.php
|
**********************************************************/
#template-profile_product section#hero {
	background-color: white;
}
#template-profile_product section#hero a.btn.btn-follow {
	border: 1px solid #fff;
	color:#fff;
	font-size:15px;
	padding: 10px 26px;
}
#template-profile_product section#hero a.btn.btn-follow:hover,
#template-profile_product section#hero a.btn.btn-follow:focus {
	border: 1px solid #55b8b8;
	color:#55b8b8;
}
#template-profile_product section#hero .btn.float-right {
	position: absolute;
  right: 15px;
}
/* Mobile user*/
@media screen and (max-width: 580px){
    #template-profile_product section#hero .btn.float-right {
    display:none;
    }
}
#template-profile_product section#hero .profile-thumb {
	padding:105px 32px 26px 32px;
}
#template-profile_product section#hero .profile-thumb img {
	max-width: 188px;
	box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.3);
	border-radius: 6px;
}
#template-profile_product section#hero .profile-thumb img.img-responsive {
	display: inline-block;
}
#template-profile_product section#hero .white-text {
	
}
#template-profile_product section#hero .profile-fullname {
	font-size:16px;
	padding-bottom:10px;
}
#template-profile_product section#hero .profile-title {
	font-size:16px;
	padding-bottom:20px;
}
#template-profile_product section#hero .profile-social {
	font-size:15px;
	padding-bottom:26px;
}
#template-profile_product section#hero .profile-social a {
	
}
#template-profile_product section#hero .profile-social a:hover,
#template-profile_product section#hero .profile-social a:focus {
	color: #55b7b8;
}
#template-profile_product section#hero .profile-btn {
	padding-bottom:78px;
}
#template-profile_product section#hero .btn.btn-profile {
	border-radius: 45px;
	padding: 6px 20px;
}
#template-profile_product section#hero a.btn.btn-profile {
	font-size:13px;
	color:#fff;
	margin:5px;
}
#template-profile_product section#hero a.btn.btn-profile:hover,
#template-profile_product section#hero a.btn.btn-profile:focus {
	opacity:0.8;
}
#template-profile_product section#hero .btn.btn-profile.upvotes {
	background-color: #999;
}
#template-profile_product section#hero .btn.btn-profile.upvotes.active,
#template-profile_product section#hero .btn.btn-profile.upvotes:hover {
  background-color: rgba(227, 30, 70, 0.8);
}
#template-profile_product section#hero .btn.btn-profile.submitted {
	background-color: #999;
}
#template-profile_product section#hero .btn.btn-profile.submitted.active,
#template-profile_product section#hero .btn.btn-profile.submitted:hover {
  background-color: #46b3df;
}
#template-profile_product section#hero .btn.btn-profile.following {
	background-color: #cc4dfc;
}
#template-profile_product section#hero .btn.btn-profile.followers {
	background-color: #e9df67;
}

#template-profile_product section#profile_product {
	padding-top:80px;
	background: #f9f9fa;
}
#template-profile_product section#profile_product .card-item {
	border-radius: 6px;
	background-color: #ffffff;
	border: solid 1px #e4e4e4;
	margin-bottom:20px;
}
#template-profile_product section#profile_product .card-item.plus {
	background: white;
	border: 2px dashed #979797;
	padding: 50px 0;
}
#template-profile_product section#profile_product a:hover .card-item.plus {
	border-color: #55b7b8;
}
#template-profile_product section#profile_product .plus-wrap a {
	display: block;
	color: #777;
}
#template-profile_product section#profile_product .plus-wrap a:hover {
	text-decoration: none;
	color: #55b7b8;
}
#template-profile_product section#profile_product .card-item.plus p {
	font-size: 22px;
	margin-top: 15px;
}
#template-profile_product section#profile_product .card-item.plus span.plus {
	width: 125px;
	height: 125px;
	display: inline-block;
	background-image: url('../images/icon-plus.png');
	background-size: cover;
	background-position: center center;
}
#template-profile_product section#profile_product a:hover .card-item.plus span.plus {
	background-image: url('../images/icon-plus-hover.png');
}
#template-profile_product section#profile_product .profile-thumb {
	padding-bottom:25px;
}
#template-profile_product section#profile_product .profile-thumb img {
  border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#template-profile_product section#profile_product .profile-thumb img.img-responsive {
	display: inline-block;
}
#template-profile_product section#profile_product .profile-fullname {
	font-size: 16px;
	font-weight:700;
	line-height: 1.1;
	color: #333333;
	margin:0 16px 10px 16px;
}
#template-profile_product section#profile_product .profile-brand {
	font-size: 16px;
	line-height: 1.1;
	color: #333333;
	margin:0 16px 10px 16px;
}
#template-profile_product section#profile_product .profile-description {
	margin:0 16px;
}
#template-profile_product section#profile_product .profile-description p {
	color: #777777;
}
#template-profile_product section#profile_product .profile-website {
	font-size: 15px;
	line-height: 1.7;
	margin:0 16px 11px 16px;
}
#template-profile_product section#profile_product .profile-meta {
	padding:0 16px 16px 16px;
}
#template-profile_product section#profile_product a.btn.btn-profile {
    font-size: 13px;
    color: #fff;
    margin: 5px 4px 5px 0;
}
#template-profile_product section#profile_product .btn.btn-profile {
    border-radius: 45px;
    padding: 5px 10px 7px;
}
#template-profile_product section#profile_product a.btn.btn-profile:hover,
#template-profile_product section#profile_product a.btn.btn-profile:focus {
	opacity:0.8;
}
#template-profile_product section#profile_product .btn.btn-profile.trend {
	background-color: #eade66;
	color: #afa224;
}
#template-profile_product section#profile_product .btn.btn-profile.upvotes {
	background-color: rgba(227, 30, 70, 0.7);
}
#template-profile_product section#profile_product .btn.btn-profile.comment {
	background-color: rgba(202, 75, 252, 0.7);
}
#template-profile_product section#profile_product .btn.btn-profile.disable {
	background-color: #b1b1b1;
	padding: 5px 20px 7px;
}
#template-profile_product section#profile_product .profile-follower {
	border-top:1px solid #e7e7e7;
	margin:0 16px;
	padding:22px 0 19px 0;
}
#template-profile_product section#profile_product .profile-follower img {
	border-radius:6px;
	width: 36px;
	height: 30px;
	float:left;
}
#template-profile_product section#profile_product .profile-follower span.user-name {
	display:block;
	font-size: 13px;
	font-weight:700;
	line-height: 1.3;
	color: #4a4a4a;
	margin-left: 50px;
}
#template-profile_product section#profile_product .profile-follower span.user-cat {
	display:block;
	font-size: 13px;
	line-height: 1.3;
	color: #4a4a4a;
	margin-left: 50px;
}
#template-profile_product section#profile_product .showmore {
	padding-top:65px;
}
#template-profile_product section#profile_product .btn.btn-showmore {
	border:1px solid #9b9b9b;
	font-size: 13px;
	line-height: 1.4;
	color: #777777;
	padding: 6px 20px;
	border-radius:45px;
}
#template-profile_product section#profile_product .btn.btn-showmore:hover,
#template-profile_product section#profile_product .btn.btn-showmore:focus {
	color:#fff;
	background-color:#9b9b9b;
}

/*********************************************************
|
|  template-product_page.php
|
**********************************************************/

#template-product_page {
  font-weight: 300;
}
#template-product_page section#product_page {
	background-color: #f9f9fa;
	padding-bottom:90px;
}
#template-product_page section#product_page .prod-gallery,
#template-product_page section#product_page .prod-info {
	padding-top:90px;
}
#template-product_page section#product_page h1 {
	font-size: 30px;
	color: #333333;
	margin-bottom:11px;
	margin-top:3px;
}
#template-product_page section#product_page p {
	font-size: 15px;
	line-height: 1.7;
	color: #777777;
}
#template-product_page section#product_page p.brand-name {
	font-size: 16px;
	line-height: 1.1;
	color: #777777;
}
#template-product_page section#product_page .prod-info {
	margin-bottom:44px;
}
#template-product_page section#product_page .prod-meta {
	margin-bottom:40px;
}
#template-product_page section#product_page .prod-action {
	margin-top:40px;
}
#template-product_page section#product_page hr {
  border-top: 1px solid #e7e7e7;
}
#template-product_page a.btn.btn-profile {
  font-size: 13px;
  color: #fff;
  margin: 5px 4px 5px 0;
}
#template-product_page .btn.btn-profile {
  border-radius: 45px;
  padding: 5px 15px 7px;
}
#template-product_page a.btn.btn-profile:hover,
#template-profile_product a.btn.btn-profile:focus {
	opacity:0.8;
}
#template-product_page .btn.btn-profile.trend {
	background-color: #eade66;
	color: #afa224;
}
#template-product_page .btn.btn-profile.upvotes {
	background-color: rgba(227, 30, 70, 0.7);
}
#template-product_page .btn.btn-profile.comment {
	background-color: rgba(202, 75, 252, 0.7);
}
#template-product_page .btn.btn-profile.disable {
	background-color: #b1b1b1;
	padding: 5px 20px 7px;
}
#template-product_page .btn.btn-getProd {
  border: 1px solid #55b8b8;
  background-color: #55b8b8;
  color: #ffffff;
  padding: 8px 20px;
  width: 100%;
  margin-bottom:10px;
}
#template-product_page .btn.btn-getProd:hover, 
#template-product_page .btn.btn-getProd:focus {
    color: #55b8b8;
    background-color: #ffffff;
}
#template-product_page .btn.btn-saveProd {
  border: 1px solid #55b8b8;
  color: #55b8b8;
  padding: 8px 20px;
  width: 100%;
  margin-bottom:10px;
}
#template-product_page .btn.btn-saveProd:hover, 
#template-product_page .btn.btn-saveProd:focus {
  color: #fff;
  background-color: #55b8b8;
}
#template-product_page .btn.btn-price:hover, 
#template-product_page .btn.btn-price:focus {
  background-color: white;
  color: #55b8b8;
  cursor: default;
}
#template-product_page section#product_page .prod-gallery .previews a {
  display: block;
  margin-bottom: 10px;
}
#template-product_page section#product_page .prod-gallery .full {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),
							0 2px 10px 0 rgba(0,0,0,.12);
	margin: 0 35px 40px 0;
}
#template-product_page section#product_page .prod-gallery .previews a {
	border: solid 3px #eeeeee;
	border-radius: 5px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),
							0 2px 10px 0 rgba(0,0,0,.12);
}
#template-product_page section#product_page .prod-gallery .previews a:hover, 
#template-product_page section#product_page .prod-gallery .previews a.active {
	border: solid 3px #4a90e2;
}
#template-product_page section#product_page .share-action .social-wrap {
	float: right;
  margin-right: 35px;
}
#template-product_page section#product_page .share-action .media-body {
  width: auto;
}
#template-product_page section#product_page .share-action .media img {
  max-height: 43px;
  max-width: 50px;
  border-radius: 5px;
}
#template-product_page section#product_page .share-action .media .media-left {
  padding-right: 16px;
}
#template-product_page section#product_page .share-action .media .media-body a {
  color: #777;
}
#template-product_page section#product_page .share-action .media .media-heading a {
  font-size: 18px;
  color: #4a4a4a;
}
#template-product_page section#product_page .share-action .social-wrap a {
	border-radius: 3px;
	color:#fff;
	font-size:15px;
	padding: 11px 18px;
	margin: 0 5px 10px 5px;
	display: inline-block;
}
#template-product_page section#product_page .share-action .social-wrap a:hover,
#template-product_page section#product_page .share-action .social-wrap a:focus {
	text-decoration:none;
	opacity:0.8;
}
#template-product_page a.twitter-share-button {	
	background-color: #32a7e0;	
}	
#template-product_page a.facebook-share-button {
	background-color: #3b5791;
}
#template-product_page section#product_page  a.twitter-share-button i,
#template-product_page section#product_page  a.facebook-share-button i {
	margin-right: 10px;
}	
#template-product_page section#about-brand {
  background: white;
}
#template-product_page section#about-brand .title {
	margin:68px 0 80px 0;
	text-align:center;
}
#template-product_page section#about-brand h3 {
	font-size: 21px;
	line-height: 1;
	color: #333333;
	margin:45px 0;
}
#template-product_page section#about-brand img,
#template-product_page section#about-brand iframe {
	border-radius: 5px;
	margin-bottom:10px;
}
#template-product_page section#about-brand .badges {
	text-align: center;
	display:inline-block;
	margin-right:20px;
}
#template-product_page section#about-brand .badges img.oval {	
	border: solid 2px #55b8b8;
	border-radius:50%;
	display:block;
	margin:0 auto;
}
#template-product_page section#about-brand .badges .txt {
	font-size: 14px;
	line-height: 1.7;
	text-align: center;
	color: #777777;
	font-weight:700;
	display:block;
	padding:15px 0;
}
#template-product_page section#about-brand p {
	font-size:15px;
	line-height:25px;
	color: #777777;
	margin-bottom: 25px;
}
#template-product_page section#about-brand blockquote,
#template-product_page section#about-brand blockquote p {
	font-size: 21px;
	line-height: 1;
	color: #333333;
	margin-bottom: 0;
}
#template-product_page section#about-brand blockquote {
    border-left: none;
}
#template-product_page section#about-brand .brand-entry,
#template-product_page section#about-brand .brand-video,
#template-product_page section#about-brand .brand-location,
#template-product_page section#about-brand .cta-bar {
	margin-bottom:45px;
}
#template-product_page section#about-brand .cta-bar-bg {
	border-radius: 5px;
	background-color: #f9f9fa;
	border: solid 1px #e4e4e4;
	padding:51px 15px;
	text-align:center;
}
#template-product_page section#about-brand .cta-bar p {
	font-size: 18px;
	line-height: 1.4;
	color: #4a4a4a;
}
#template-product_page section#about-brand .cta-bar .btn.btn-cta {
    border: 1px solid #55b8b8;
    background-color: #55b8b8;
    color: #ffffff;
    padding: 8px 37px;
    margin-bottom: 10px;
}
#template-product_page section#about-brand .cta-bar .btn.btn-cta:hover,
#template-product_page section#about-brand .cta-bar .btn.btn-cta:focus {
	opacity:0.8;
}
#template-product_page section#discussion {
	background-color: #f9f9fa;
	padding-bottom:100px;
	margin-bottom:-100px;
}
#template-product_page section#discussion h2 {
	font-size: 30px;
	line-height: 0.7;
	color: #333333;
	margin-top:80px;
}
#template-product_page section#discussion h4 {
	font-size: 18px;
	line-height: 1.4;
	color: #4a4a4a;
	font-weight:700;
}
#template-product_page section#discussion .widget-card {
	border-radius: 5px;
	background-color: #ffffff;
	border: solid 1.5px #e4e4e4;
	padding:33px 30px;
	margin-bottom:20px;
}
#template-product_page section#discussion .widget-spacer {
	height:122px;
}
#template-product_page section#discussion .widget-card .twitter-share-button,
#template-product_page section#discussion .widget-card .facebook-share-button {
		border-radius: 3px;
    color: #fff;
    padding: 11px 18px;
    margin-bottom:5px;
    width:100%;
    display:block;
}
#template-product_page section#discussion .widget-card .twitter-share-button:hover,
#template-product_page section#discussion .widget-card .twitter-share-button:focus,
#template-product_page section#discussion .widget-card .facebook-share-button:hover,
#template-product_page section#discussion .widget-card .facebook-share-button:focus {
	text-decoration:none;
	opacity:0.8;
}
#template-product_page section#discussion .widget-card .twitter-share-button i {
	margin-right:8px;
}
#template-product_page section#discussion .widget-card .facebook-share-button i {
	margin-right:12px;
}
#template-product_page section#discussion .widget-card .btn.btn-submit {
    border: 1px solid #55b8b8;
    background-color: #55b8b8;
    color: #ffffff;
    padding: 8px 37px;
    margin-bottom: 10px;
}
#template-product_page section#discussion .widget-card .btn.btn-submit:hover,
#template-product_page section#discussion .widget-card .btn.btn-submit:focus {
	opacity:0.8;
}
#template-product_page section#discussion .widget-card input {
	 margin-bottom: 10px;
}
#template-product_page section#discussion img {
	border-radius: 5px;
}
#template-product_page section#discussion .widget-card .item {
	margin-bottom: 20px;
}
#template-product_page section#discussion .widget-card .item img {
	margin-bottom: 10px;
}
form.comment-form label {
	display: none;
}
.comments ul {
	list-style-type: none;
}
.comments .comment-metadata {
	display: none;
}
.comments .says {
	display: none;
}
.comments .logged-in-as {
	display: none;
}
.comments .comment-body {
	padding: 20px 0;
	border-bottom: 1px solid #e7e7e7;
}
.comments .comment-author img {
	margin-right: 10px;
}
.comments .comment-content {
	padding-left: 45px;
	padding-top: 10px;
}
.comments .comment-body .reply {
	margin-left: 45px;
}

@media only screen and (max-width: 768px) {
	#template-product_page section#product_page .prod-gallery .full {
    margin: 0 0 20px 0;
	}
	#template-product_page section#about-brand .cta-bar .btn.btn-cta {
		padding: 8px 20px;
		width:100%
	}
}

/*********************************************************
|
|  template-brand_directory.php
|
**********************************************************/


/* 
| brand - splash
*/
#template-brand_directory section#splash {
  font-size: 18px;
  color: white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5bbbb9+0,84cdba+100 */
  background-image: url(''), linear-gradient(to right,  #5bbbb9 0%,#84cdba 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#template-brand_directory section#splash {
	padding:87px 20px;
}
#template-brand_directory section#splash h1 {
margin-bottom: 30px;
}
#template-brand_directory section#splash h1 span {
	color:#FFFFFF;
}
#template-brand_directory section#splash p.lead {
	margin-left:18%;
	margin-right:18%;
	margin-bottom: 40px;
  font-size: 25px;
}
#template-brand_directory section#splash p.small {
	font-size: 15px;
	padding-top:10px;
}
#template-brand_directory section#splash .form-inline {
	margin-bottom:10px;
}
#template-brand_directory section#splash .form-control, 
#template-brand_directory section#splash input[type=text], 
#template-brand_directory section#splash input[type=password] {
	border: 2px solid #FFFFFF;
	border-top: 2px solid #FFFFFF;;
	border-right: 2px solid #FFFFFF;;
	border-left: 2px solid #FFFFFF;;
	border-radius: 5px;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	letter-spacing: 2px;
	display: block;
	width: 322px !important;
	height: 45px;
	padding: 6px 12px;
	background-image: none;
	color: white;
	margin:0 auto;
}

#template-brand_directory section#splash .btn.btn-default {
	vertical-align: top;
	padding: 12px 30px;
}
#template-brand_directory section#splash .btn.btn-default:hover,
#template-brand_directory section#splash .btn.btn-default:focus {
	background-color: #55b7b8;
	border-color: #55b7b8;
  color: white;
}
#template-brand_directory section#splash ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
#template-brand_directory section#splash ::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
#template-brand_directory section#splash :-ms-input-placeholder { /* IE 10+ */
  color: white;
}
#template-brand_directory section#splash :-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

/* 
| brand - featured
*/
#template-brand_directory section#featured {
	padding:60px 0 80px 0;
}
#template-brand_directory section#featured h2 {
	margin-bottom:31px;
	display:inline-block;
}
.templates.brand#content-archive h3 {
	margin-top:0;
	font-size: 16px;
	line-height: 1.1;
	color: #333333;
	margin-bottom: 20px;
}
#template-brand_directory section#featured h3 span {
	color:#777777;
}
#template-brand_directory section#featured h4 {
	margin-top:88px;
	margin-bottom:27px;
}
#template-brand_directory section#featured p {
	font-size:15px;
}
#template-brand_directory section#featured hr {
  border-top: 1px solid #e7e7e7;
}
#template-brand_directory a.btn.btn-profile {
    font-size: 13px;
    color: #fff;
    margin: 5px 4px 5px 0;
}
#template-brand_directory .btn.btn-profile {
    border-radius: 45px;
    padding: 5px 15px 7px;
}
#template-brand_directory a.btn.btn-profile:hover,
#template-brand_directory a.btn.btn-profile:focus {
	opacity:0.8;
}
#template-brand_directory .btn.btn-profile.trend {
	background-color: #eade66;
	color: #afa224;
}
#template-brand_directory .btn.btn-profile.upvotes {
	background-color: rgba(227, 30, 70, 0.7);
}
#template-brand_directory .btn.btn-profile.comment {
	background-color: rgba(202, 75, 252, 0.7);
}
#template-brand_directory .btn.btn-profile.disable {
	background-color: #b1b1b1;
	padding: 5px 20px 7px;
}
#template-brand_directory section#featured ul.directory-list,
#template-brand_directory section#featured ul.directory-list li {
	font-size: 15px;
	line-height: 1.7;
	color: #777777;
	padding-left:0;
	padding-bottom:5px;
	list-style-type: none;
}
#template-brand_directory section#featured ul.directory-list li a {
	color: #777777;
	padding-left:0;
}
#template-brand_directory section#featured .tab {
	display:inline-block;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 15px;
}
#template-brand_directory section#featured .tab a {
	color:#777777;
}
#template-brand_directory section#featured .tab a.active {
	color:#55b7b8;
	font-weight:700;
}
.templates.brand#content-archive .card {
	border-radius: 5px;
	background-color: #ffffff;
	border: solid 1.5px #e4e4e4;
	padding:30px;
	margin-bottom:13px;
}
.templates.brand#content-archive .card img {
	box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.3);
	border-radius: 6px;
}
.templates.brand#content-archive .card .prod-meta {
	padding-top:15px;
}
#template-brand_directory section#featured .showmore {
	padding-top:65px;
}
#template-brand_directory section#featured .btn.btn-showmore {
	border:1px solid #9b9b9b;
	font-size: 13px;
	line-height: 1.4;
	color: #777777;
	padding: 6px 20px;
	border-radius:45px;
}
#template-brand_directory section#featured .btn.btn-showmore:hover,
#template-brand_directory section#featured .btn.btn-showmore:focus {
	color:#fff;
	background-color:#9b9b9b;
}

@media (max-width: 970px) {
	#template-brand_directory section#featured h4 {
    margin-top: 170px;
  }
  #template-brand_directory section#featured h3 {
    margin-top: 30px;
	}
	#template-brand_directory section#featured .card .prod-meta {
    padding-bottom: 15px;
	}
}
@media (max-width: 768px) {
	#template-brand_directory section#featured .card img {
		max-width:300px;
		margin:0 auto;
	}
	#template-brand_directory section#featured .card .prod-meta {
		text-align: center;
	}
}

/*********************************************************
|
|  template-how_it_works.php
|
**********************************************************/

#template-how-it-works h2 {
  margin-bottom: 40px;
}
#template-how-it-works p {
  margin-bottom: 25px;
}
#template-how-it-works section#content {
  padding-bottom: 75px;
}
#template-how-it-works section#steps {
  padding: 75px 0;
  background: white;
  color: #999;
  line-height: 1.67;
}
#template-how-it-works section#steps .step {
  padding: 75px 0;
  border-bottom: 1px solid #e7e7e7;
}
#template-how-it-works section#steps h3 {
  font-size: 20px;
  margin: 50px 0;
}
#template-how-it-works section#steps p {
  max-width: 530px;
  display: inline-block;
}
#template-how-it-works section#steps .step p {
  max-width: 300px;
  display: inline-block;
}
#template-how-it-works section#steps .step-circle {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#template-how-it-works section#steps .step-circle.text-danger {
  background: rgba(240, 83, 117, 0.2);
  border-color: #f05376;
}
#template-how-it-works section#steps .step-circle.text-primary {
  background: rgba(67, 185, 226, 0.2);
  border-color: #44bae2;
}
#template-how-it-works section#steps .step-circle.text-info {
  background: rgba(210, 83, 252, 0.2);
  border-color: #d354fc;
}
#template-how-it-works section#steps .support {
  margin-top: 60px;
}
#template-how-it-works section#steps .step .fa {
  font-size: 25px;
}
#template-how-it-works section#steps .join {
  margin-top: 75px;
}
#template-how-it-works section#steps .join h5 {
  font-weight: bold;
}