
/*********************************************************
|
|  Global styles
|
**********************************************************/

body {
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
  color: #777;
}
.navbar {
  border: none;
  box-shadow: 0 0 transparent,0px 0px 4px 0px #777, 0 0 transparent, 0 0 transparent;
  margin-bottom: 0;
  padding: 10px 0;
}
.navbar-default {
  background-color: #f4fafa;
}
.btn {
  padding: 6px 30px;
}
.navbar-nav>li>a {
  padding: 6px 30px;
}
.btn-primary {
  background-color: #55b7b8;
  border-color: #55b7b8;
}
.navbar-default .navbar-nav>li>a.btn-primary {
  color: white;
}
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover,
.btn-primary:hover, 
.btn-primary:focus {
  background-color: #55b7b8;
  border-color: #55b7b8;
}
.btn-default {
  background-color: white;
  border-color: #55b7b8;
  color: #55b7b8;
}
.btn-transparent {
  background: none;
  border-color: white;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  color: #2a404d;
  font-weight: bold;
  font-size: 40px;
}
h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  color: #333;
}
a, a:visited {
  color: #55b7b8;
}
.form-group {
  margin-bottom: 30px;
}
.form-control {
  border: 2px solid #55b7b8;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #F8F8F8;
  letter-spacing: 2px;
}
.thumbnail .caption {
  color: #777;
}
.label-danger {
  background-color: rgba(227, 30, 70, 0.7);
}
.label-pink {
  background-color: rgba(203, 75, 252, 0.7);
}
span.wpcf7-not-valid-tip {
  color: #c9302c;
  font-size: 14px;
}
div.wpcf7-validation-errors {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
div.wpcf7-mail-sent-ok {
  border: 1px solid #395561;
  background: #395561;
  color: white;
  border-radius: 4px;
}
main.main {
  margin-bottom: 100px;
}
footer#footer .links {
  background: #395561;
  padding: 75px 0;
  margin: 0;
}
footer#footer .links li {
  margin: 0 50px 50px 50px;
}
footer#footer .links li:last-child {
  margin-bottom: 0;
}
footer#footer .links a {
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
}
footer#footer .copyright {
  background: #314c57;
  padding: 25px 0;
  color: white;
  font-size: 12px;
}
@media (min-width: 992px) {
  h1 {
    font-size: 50px;
  }
  footer#footer .links li {
    display: inline-block;
    margin-bottom: 0;
  }
}

/*********************************************************
|
|  front-page.php
|
**********************************************************/

#front-page section {
  padding: 100px 0;
  font-size: 16px;
}
#front-page section#splash {
  font-size: 18px;
  color: white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5bbbb9+0,84cdba+100 */
  background-image: url('../images/dotted-map.png'), linear-gradient(to right,  #5bbbb9 0%,#84cdba 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#front-page section#splash h1 {
  margin-bottom: 40px;
}
#front-page section#splash p {
  margin-bottom: 40px;
}
#front-page section#splash .btn {
  margin-bottom: 20px;
}
#front-page section#brands {
  background: #f5f5f5;
  color: #c1c1c1;
  padding: 40px 0;
}
#front-page section#brands p {
  margin-bottom: 30px;
  letter-spacing: 4px;
}
#front-page section#brands img {
  margin-right: 10px;
  margin-bottom: 15px;
}
#front-page section#brands img:last-child {
  margin-right: 0;
}
#front-page section#how h2 {
  margin-bottom: 25px;
}
#front-page section#how h4 {
  margin: 35px 0 25px 0;
}
#front-page section#how p.lead {
  margin-bottom: 50px;
  font-size: 16px;
}
#front-page section#how p {
  margin-bottom: 30px;
}
#front-page section#quote {
  padding: 200px 0;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-image: url('../images/quote-bg.jpg');
  background-size: cover;
  background-position: center center;
}
#front-page section#story h2 {
  margin-bottom: 75px;
  text-align: center;
}
#front-page section#story blockquote {
  padding: 20px 0;
  margin: 20px 0;
  font-size: 20px;
  border: 2px solid #ccc;
  border-left: none;
  border-right: none;
  color: #333;
}
#front-page section#story img {
  border-radius: 5px;
}
#front-page section#video h2,
#template-about section#video h2 {
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}
#front-page section#video h3,
#template-about section#video h3{
  color: white;
}
#front-page section#video,
#template-about section#video {
  padding: 150px 0;
  background-image: url('../images/video-bg.jpg');
  background-size: cover;
}
#videoModal iframe {
  width: 100%;
  height: auto;
}
#front-page section#contact form {
  margin-top: 75px;
}

@media (min-width: 992px) {
  #front-page section#splash {
    padding: 150px 0;
  }
  #front-page section#brands img {
    margin-right: 50px;
  }
  #front-page section#video h2,
  #template-about section#video h2 {
    font-size: 50px;
  }
  #front-page .modal-body,
  #template-about .modal-body {
    padding: 0;
  }
  #front-page .modal-dialog,
  #template-about .modal-dialog {
    width: 800px;
  }
  #videoModal iframe {
    height: 450px;
    display: block;
  }
}

/*********************************************************
|
|  archive-mgl_product.php
|
**********************************************************/

body.post-type-archive-mgl_product {
  background: #f9f9fa;
}
#archive-mgl_product section#splash {
  font-size: 18px;
  color: white;
  padding: 50px 0;
  margin-bottom: 50px;
  background: linear-gradient(to right,  #5bbbb9 0%,#84cdba 100%);
}
#archive-mgl_product .main h1 {
  font-size: 30px;
  margin-top: 0;
}
#archive-mgl_product h1 small {
  font-size: 16px;
  line-height: 33px;
}
#archive-mgl_product .left h4 {
  padding-bottom: 25px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
}
#archive-mgl_product .left ul {
  margin-bottom: 40px;
}
#archive-mgl_product .left li {
  margin-bottom: 15px;
}
#archive-mgl_product .left a {
  color: #777;
}
#archive-mgl_product .right .well {
  padding: 14px;
  background: white;
}
#archive-mgl_product .right h4 {
  margin-bottom: 15px;
  font-size: 15px;
}
#archive-mgl_product .right p {
  font-size: 15px;
}
#archive-mgl_product .thumbnail {
  padding: 0;
  border: 1px solid #e4e4e4;
}
#archive-mgl_product .thumbnail .caption {
  padding: 15px;
}
#archive-mgl_product .product-thumb {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center center;
  display: inline-block;
}
#archive-mgl_product .label {
  font-size: 16px;
  font-weight: normal;
  border-radius: 45px;
  margin-right: 10px;
}
#archive-mgl_product .label:first-child {
  margin-right: 0;
}
@media (min-width: 992px) {
  #archive-mgl_product section#splash {
    padding: 100px 0;
    margin-bottom: 100px;
  }
}

/*********************************************************
|
|  template-about.php
|
**********************************************************/

body.page-template-template-about-php main.main {
  margin-bottom: 0;
}
#template-about section {
  padding: 100px 0;
  font-size: 16px;
  color: #888;
}
#template-about section#splash {
  font-size: 18px;
  padding: 75px 0;
  color: white;
  background-image: url('../images/quote-bg.jpg');
  background-size: cover;
  background-position: center center;
}
#template-about section#splash h2 {
  font-size: 36px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}
#template-about section#team {
  background: #f9f9fb;
  font-size: 14px;
}
#template-about section#team h4 {
  margin-top: 25px;
  letter-spacing: 2px;
}
@media (min-width: 992px) {
  #template-about section#splash {
    padding: 150px 0;
  }
}

/*********************************************************
|
|  index.php
|
**********************************************************/

#blog section#splash {
  padding: 50px 0;
  background-image: url('../images/blog-splash.jpg');
  background-size: cover;
  background-position: center center;
}
#blog article {
  padding-top: 35px;
  border-top: 1px solid #9b9b9b;
  margin-bottom: 55px;
}
#blog article:first-child {
  padding-top: 0;
  border-top: none;
}
@media (min-width: 992px) {
  #blog section#splash {
    padding: 100px 0;
    margin-bottom: 50px;
  }
}

/*********************************************************
|
|  blog posts
|
**********************************************************/

article.post header {
  margin-bottom: 15px;
}
article.post header h2 a {
  color: #333;
}
article.post header .byline {
  font-size: 13px;
}
article.post header .avatar img {
  border-radius: 8px;
}
article.post header .byline a {
  color: #777;
}
article.post header a.nickname {
  margin: 0 15px;
}
article.post header time {
  margin: 0 15px;
}
article.post header .comment-count {
  margin-left: 15px;
}
article.post .entry-thumb {
  margin-bottom: 25px;
  border-radius: 8px;
}
@media (min-width: 992px) {
  article.post header h2 {
    font-size: 29px;
    margin-bottom: 25px;
  }
}

/*********************************************************
|
|  single.php
|
**********************************************************/

#blog-single section#splash {
  font-size: 18px;
  padding: 50px 0;
  margin-bottom: 50px;
  color: white;
  background-image: url('../images/single-hero.jpg');
  background-size: cover;
  background-position: center center;
}
#blog-single section#splash h1 {
  color: white;
}
@media (min-width: 992px) {
  #blog-single section#splash {
    padding: 100px 0;
    margin-bottom: 75px;
  }
}

/*********************************************************
|
|  template-signin.php && template-login.php
|
**********************************************************/
#template-signup section#signup,
#template-login section#signup {
	margin-top:140px;
}
#template-signup section#signup h2,
#template-login section#signup h2 {
	font-weight: 700;
	margin-bottom:21px;
}
#template-signup section#signup p,
#template-login section#signup p {
    font-size:18px;
    ine-height: 1.6;
}
#template-signup section#signup p.small,
#template-login section#signup p.small,
#template-signup section#signup p.small a,
#template-login section#signup p.small a {
    font-size: 15px;
		color: #9b9b9b;
}
#template-signup section#signup p.small a:hover,
#template-login section#signup p.small a:hover,
#template-signup section#signup p.small a:focus,
#template-login section#signup p.small a:focus {
		color: #337ab7;
}

#template-signup section#signup form,
#template-login section#signup form {
    margin-top: 55px;
}
#template-login section#signup .form-control,
#template-signup section#signup .form-control  {
	background-color: #fff;
}
#template-login section#signup textarea,
#template-login section#signup input,
#template-signup section#signup textarea,
#template-signup section#signup input {
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	font-size: 13px;
	line-height: 1.4;
	letter-spacing: 4px;
	color: #777777;
}
#template-signup section#signup input[type="submit"],
#template-login section#signup input[type="submit"] {
	font-weight:400;
	font-size: 15px;
	color: #ffffff;
	letter-spacing: 0;
}
#social-login .divider-new {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: 300;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 0 15px;
}
#social-login .divider-new::before{
	flex:1;
	margin:0 .45em 0 0
}
#social-login .divider-new::after{
	flex:1;
	margin:0 0 0 .45em
}
#social-login .divider-new::after, .divider-new::before {
    content: '';
    height: 1.5px;
    background: #9b9b9b;
}
#social-login .o-r {
	width: 35px;
	height: 34px;
	font-family: OpenSans;
	font-size: 25px !important;
	color: #9b9b9b;
}
#social-login .rectangle {
    padding: 8px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:15px;
}
#social-login .social-icon {
		color:#fff !important;
		width: 100%;
}
#social-login .fa {
    font-size: 20px;
}
#social-login .tw-bg {
    background-color: #55ACEE;
}
#social-login .fb-bg {
    background-color: #3B5998;
}
#social-login .fa-twitter {
		border-right:1px solid #1a8ac1;
	  padding-right:10px;
	  margin-right:15px;
}
#social-login .fa-facebook {
		border-right:1px solid #274072;
	  padding-right:10px;
	  margin-right:15px;
}

/*********************************************************
|
|  template-product_post.php
|
**********************************************************/
#template-product_post section#product_post .main {
	margin-top:118px;
}
#template-product_post section#product_post h4 { 
	font-weight:700;
	font-size:16px;
}
#template-product_post section#product_post h5 { 
	font-weight:400;
	font-size:16px;
	margin-top:55px;
	margin-bottom: 34px;
}
#template-product_post section#product_post p { 
  color: #000;	
	font-size: 16px;
	line-height: 1.6;
}
#template-product_post section#product_post p a {
	text-decoration:underline;
}
#template-product_post section#product_post hr {
    margin-top: 160px;
    margin-bottom: 80px;
    border: 0;
    border-top: 2px solid #d8d8d8;
}
#template-product_post section#product_post p.grey-text {
	font-size: 16px;
	line-height: 0.9;
	color: #4a4a4a;
	margin-bottom:30px;
}
#template-product_post section#product_post .form-control  {
	background-color: #fff;
}
#template-product_post section#product_post textarea,
#template-product_post section#product_post input,
#template-product_post section#product_post select {
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	font-size: 13px;
	line-height: 1.4;
	letter-spacing: 4px;
	color: #999999;
}
#template-product_post section#product_post input[type="submit"] {
	font-weight:400;
	font-size: 25px;
	color: #ffffff;
	letter-spacing: 0;
}

/* 
| profile-sidebar
*/
#template-product_post .sidebar {
    display: none;
}
@media (min-width: 768px) {
	#template-product_post .sidebar {
			position: fixed;
			top: 51px;
			bottom: 0;
			left: 0;
			z-index: 1000;
			display: block;
			padding: 20px;
			overflow-x: hidden;
			overflow-y: auto;
			background-color:#2a414d;
	}
}
#template-product_post #profile-sidebar .profile-thumb {
	padding:32px 32px 22px 32px;
}
#template-product_post #profile-sidebar .profile-thumb img {
	width: 103px;
	height: 90px;
	box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 17px 0 rgba(0, 0, 0, 0.3);
	border-radius: 6px;
}
#template-product_post #profile-sidebar .white-text {
	color:#ffffff;
}
#template-product_post #profile-sidebar .profile-fullname {
	font-size:16px;
	padding-bottom:10px;
}
#template-product_post #profile-sidebar .profile-id {
	font-size:16px;
	padding-bottom:20px;
}
#template-product_post #profile-sidebar .profile-username {
	padding-bottom:10px;
}
#template-product_post #profile-sidebar .profile-website {
	padding-bottom:10px;
}
#template-product_post #profile-sidebar .profile-social {
	padding-bottom:31px;
}
#template-product_post #profile-sidebar .portfolio-btn {
	border-radius: 45px;
	background-color: rgba(254, 254, 254, 0.15);
}
#template-product_post #profile-sidebar .spacer-profile {
	height:220px;
}
#template-product_post #profile-sidebar .profile-footer {
	padding-bottom:20px;
}


