
.navbar {
  border: none;
  box-shadow: 0 0 transparent,0px 0px 4px 0px #777, 0 0 transparent, 0 0 transparent;
  margin-bottom: 0;
}
.navbar-default {
  background-color: #f4fafa;
}
.btn {
  padding: 6px 30px;
}
.btn-primary {
  background-color: #55b7b8;
  border-color: #55b7b8;
}
.btn-default {
  background-color: white;
  border-color: white;
  color: #55b7b8;
}
.btn-transparent {
  background: none;
  border-color: white;
}
h1 {
  color: #2a404d;
  font-weight: bold;
  font-size: 55px;
}
h2, h4 {
  color: #333;
}

#front-page section {
  padding: 100px 0;
  font-size: 16px;
  color: #888;
}
#front-page section#splash {
  font-size: 18px;
  color: white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5bbbb9+0,84cdba+100 */
  background: #5bbbb9; /* Old browsers */
  background: -moz-linear-gradient(left,  #5bbbb9 0%, #84cdba 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #5bbbb9 0%,#84cdba 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #5bbbb9 0%,#84cdba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bbbb9', endColorstr='#84cdba',GradientType=1 ); /* IE6-9 */
}
#front-page section#splash h1 {
  margin-bottom: 40px;
}
#front-page section#splash p {
  margin-bottom: 40px;
}

#front-page section#brands {
  background: #f5f5f5;
  color: #c1c1c1;
  padding: 40px 0;
}

#front-page section#how .fa {
  color: #6bbeb4;
  font-size: 40px;
}

#front-page section#quote {
  background: #6bbeb4;
  font-size: 30px;
  font-weight: bold;
  color: white;
}